@import "_colors.styl"

//  Brand Colors
brand-primary = purple
brand-success = green
brand-danger = red
brand-warning = orange
brand-info = cyan

// Paddings
padding-logo = 15px
padding-avatar-title = 5px
padding-x-footer = 24px

// Line Height
line-height = 30px
line-height-base = 1.5em
line-height-footer-items = 1.8
line-height-higher = 22px
line-height-high = 56px

// Sidebar List Items Icons
icon-width = line-height

// Sidebar List Items
padding-small = 10px
padding-general = 15px
margin-general = padding-general
margin-small = padding-small
font-size-general = 14px
list-item-hover = rgba(200, 200, 200, .2)
list-item-icon-opacity = .8
list-item-height = 48px
badge-border = 1px solid white
badge-dimension = 20px

// Border Radius
border-radius-base = 3px

// Sidebar Avatar Margins
margin-list-right = 11px
margin-list-left = 25px

// Sidebar Divider
divider-width = calc(100% - 30px)
divider-margins = -1px
divider-border = 1px solid #eee

// Sidebar Background
sidebar-bg = rgba(27, 27, 27, .74)

// Font size
font-size-mini = 9px
font-size-small = 12px
font-size-default = 14px
font-size-avatar-title = 18px
font-size-alert-icon = 30px
font-size-big = 36px
font-size-small-tag = 65%
font-size-toolbar-title = font-size-avatar-title
font-size-toolbar-items = 20px
font-size-h1 = 3.3125rem
font-size-h2 = 2.25rem
font-size-h3 = 1.5625rem
font-size-h4 = 1.125rem
font-size-h5 = 1.0625rem
font-size-h6 = 0.75rem
font-paragraph = font-size-default
font-size-chart-label = .730rem

// Font Weight
font-weight-lighter = 300
font-weight-base = 400
font-weight-bolder = 500

// Opacity Colors
black-opacity-3 = rgba(180, 180, 180, .3)

// Image from Avatar
top-dim = 1px

// Shadows
mdb-shadow-key-umbra-opacity = .2
mdb-shadow-key-penumbra-opacity = .14
mdb-shadow-ambient-shadow-opacity = .12

//  Toolbar Height
toolbar-min-height = 70px

// Toolbar Margin
toolbar-margin-left = 260px

//  Body Background Color
body-color = #eee

// Black Color
black-color = #495057
blockquote-color = rgba(0, 0, 0, .87)

// Gray Color
gray-light = #999
gray = lighten(#000, 33.5%)

// Inputs Color
input-color = #d2d2d2
label-color = #aaa

//  Footer Border
footer-border-color = #e7e7e7
footer-border-top = 1px solid footer-border-color

// Cards
card-shadow = 0 1px 4px 0 rgba(0, 0, 0, 0.14)
card-margin = 25px
card-content-x-padding = 20px
card-actions-y-margin = card-content-x-padding
card-title-margin = 5px
card-offset = -20px
card-chart-min-height = 160px
card-stats-offset = 85px
card-stats-icons-dim = 56px
card-profile-avatar-pos = -50px

// Typography
font-family-sans-serif = 'Roboto', 'Helvetica', 'Arial', sans-serif
font-family-serif = 'Roboto Slab', 'Times New Roman', serif

// Tooltips
tooltip-min-width = 130px
tooltip-max-width = 200px
tooltip-border = 5px
tooltip-top-border-pos = 16px
tooltip-arrow-align = .255em

//  Buttons
btn-icon-dim = 41px
btn-y-large-padding = 1.125rem
btn-x-large-padding = 2.25rem
btn-large-line-height = 1.333333
btn-y-small-padding = .40625rem
btn-x-small-padding = 1.25rem
btn-round-padding = 30px
btn-font-size-icon = 1.25rem
btn-margin-icon = 7px
btn-fixed-icon-size = 1.8rem
btn-fixed-width = 64px

// Tabs
tabs-active-line = rgba(255, 255, 255, .3)
tabs-text-box-padding = 8px

// Table
table-hover-color = #f5f5f5
table-border-color = rgba(0, 0, 0, .06)
table-head-height = 32px

// Social Buttons
social-facebook = #3b5998
social-twitter = #55acee

// Dropdown
font-size-dropdown = .8125rem
border-radius-dropdown = 10px

// Box-shadow
box-shadow-general = 0 2px 5px 0 rgba(black, .26)